.login {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

.login > img {
    object-fit: contain;
    height: 70px;
    margin-bottom: 20px;
}

.login > form {
    display: flex;
    flex-direction: column;
}

.login > form > input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding: 0 0 0 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: #55427a;
}

.login > form > button {
    width: 374px;
    height: 50px;
    font-size: large;
    color: lightgrey;
    background-color: #55427a;
    border-radius: 5px;
}


.login__register {
    color: #55427a;
    cursor: pointer;
    font-weight: 600;
    margin-left: 5px;
}

.login > p {
    margin-top: 20px;
}

.login__imageContainer {
    height: 350px;
    width: 500px;
}

.login__svgClip {
    height: 350px;
    width: 500px;
    object-fit: scale-down;
    clip-path: url(#svgPath);
}

@media (max-width: 600px) {
    .login > form > input {
        width: 250px;
    }

    .login > form > button {
        width: 274px;
    }

    .login__imageContainer {
        height: 200px;
        width: 300px;
    }

    .login__svgClip {
        height: 200px;
        width: 300px;
        object-fit: scale-down;
        clip-path: url(#svgPath);
    }
}