.sitter {
    flex: 0.3;
    margin: 0;
}

.sitter__inputContainer {
    background-color: #f5a623;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sitter__input {
    border: 1px solid lightgrey;
    border-radius: 30px;
    display: flex;
    color: #353535;
    padding: 10px 10px 10px 15px;
}

.sitter__input > form {
    display: flex;
    width: 100%;
}

.sitter__input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.sitter__input > form > button {
    display: none;
}

.sitter__inputOptions {
    display: flex;
    justify-content: space-evenly;
    background-color: #f5a623;
}

@media (max-width: 600px) {
    .sitter {
        margin: 20px 0 0 !important;
    }
}